################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
QuanLyCuaHangThoiTrang.Model/QuanLyCuaHangThoiTrang.mdf
QuanLyCuaHangThoiTrang.Model/QuanLyCuaHangThoiTrang_log.ldf
