.table {
    margin-bottom: 0px;
}

    .table thead tr th {
        background-color: #EEEEEE;
        border-color: #e1e1e1 #e1e1e1 gainsboro;
        vertical-align: middle;
        border-style: solid;
        font-weight: 400;
        font-size: 13px;
    }

        .table thead tr th:first-child {
            border-left: none;
        }

        .table thead tr th:last-child {
            border-right: none;
        }

    .table thead .sorting:after {
        margin-left: 5px;
        content: "\f0dc";
        font-family: 'FontAwesome';
    }

    .table thead .sorting_asc:after {
        margin-left: 5px;
        content: "\f0dd";
        font-family: 'FontAwesome';
    }

    .table thead .sorting_desc:after {
        margin-left: 5px;
        content: "\f0de";
        font-family: 'FontAwesome';
    }

    .table thead .sorting_asc_disabled:after {
        margin-left: 5px;
        color: rgba(255, 255, 255, 0.3);
        content: "\f0dd";
        font-family: 'FontAwesome';
    }

    .table thead .sorting_desc_disabled:after {
        margin-left: 5px;
        color: rgba(255, 255, 255, 0.3);
        content: "\f0de";
        font-family: 'FontAwesome';
    }

    .table tbody tr.border-danger td {
        background: inherit !important;
    }

        .table tbody tr.border-danger td:first-child {
            position: relative;
            padding-left: 10px;
        }

            .table tbody tr.border-danger td:first-child:before {
                border-left: 3px solid #E9573F;
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: -1px;
                bottom: 0;
            }

    .table tbody tr.border-success td {
        background: inherit !important;
    }

        .table tbody tr.border-success td:first-child {
            position: relative;
            padding-left: 10px;
        }

            .table tbody tr.border-success td:first-child:before {
                border-left: 3px solid #8CC152;
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: -1px;
                bottom: 0;
            }

    .table tbody tr.border-primary td {
        background: inherit !important;
    }

        .table tbody tr.border-primary td:first-child {
            position: relative;
            padding-left: 10px;
        }

            .table tbody tr.border-primary td:first-child:before {
                border-left: 3px solid #00B1E1;
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: -1px;
                bottom: 0;
            }

    .table tbody tr.border-info td {
        background: inherit !important;
    }

        .table tbody tr.border-info td:first-child {
            position: relative;
            padding-left: 10px;
        }

            .table tbody tr.border-info td:first-child:before {
                border-left: 3px solid #63D3E9;
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: -1px;
                bottom: 0;
            }

    .table tbody tr.border-warning:hover {
        background: #f5f5f5;
    }
    .table tbody tr.border-warning td {
        background: inherit !important;
    }

        .table tbody tr.border-warning td:first-child {
            position: relative;
            padding-left: 10px;
        }

            .table tbody tr.border-warning td:first-child:before {
                border-left: 3px solid #F6BB42;
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: -1px;
                bottom: 0;
            }

    .table tbody tr.border-inverse td {
        background: inherit !important;
    }

        .table tbody tr.border-inverse td:first-child {
            position: relative;
            padding-left: 10px;
        }

            .table tbody tr.border-inverse td:first-child:before {
                border-left: 3px solid #2A2A2A;
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: -1px;
                bottom: 0;
            }

    .table tbody tr.border-lilac td {
        background: inherit !important;
    }

        .table tbody tr.border-lilac td:first-child {
            position: relative;
            padding-left: 10px;
        }

            .table tbody tr.border-lilac td:first-child:before {
                border-left: 3px solid #906094;
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: -1px;
                bottom: 0;
            }

    .table tbody tr:first-child td:first-child:before {
        top: 2px !important;
    }

    .table tbody tr td {
        background-color: #FBFBFB;
    }

        .table tbody tr td > a {

        }

            .table tbody tr td > a i {
                color: #636E7B;
            }

        .table tbody tr td .btn.btn-success i, .table tbody tr td .btn.btn-danger i, .table tbody tr td .btn.btn-primary i, .table tbody tr td .btn.btn-info i, .table tbody tr td .btn.btn-warning i {
            color: white;
        }

    .table tfoot tr th {
        vertical-align: middle;
        background-color: #EEEEEE;
        border-width: 7px 1px 1px;
        border-style: solid;
        border-color: gainsboro #e1e1e1 #e1e1e1;
        font-weight: 400;
        font-size: 13px;
        border-bottom: none;
    }

        .table tfoot tr th:first-child {
            border-left: none;
        }

        .table tfoot tr th:last-child {
            border-right: none;
        }

    .table.table-striped tbody tr:nth-child(odd) td, .table.table-striped tbody tr:nth-child(odd) th {
        background-color: #f6f6f6;
    }

table.table-bordered tbody tr td:first-child:before {
    left: -2px !important;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    background: none;
}

.table-primary thead tr th {
    background-color: #00B1E1 !important;
    border-color: #00c5fb #00c5fb #0095bd !important;
    color: #fff;    
}

.table-primary tbody tr td.sorting_1 {
    background: #24d0ff !important;
    color: white;
    border-bottom: 1px solid #48d8ff !important;
}

.table-primary tfoot tr th {
    background-color: #00B1E1 !important;
    border-color: #0095bd #00c5fb #00c5fb !important;
    color: #fff;
}

.table-primary.table-bordered {
    border: 1px solid #00B1E1;
}

    .table-primary.table-bordered thead tr th:first-child, .table-primary.table-bordered thead tr th:last-child, .table-primary.table-bordered tfoot tr th:first-child, .table-primary.table-bordered tfoot tr th:last-child {
        -moz-border-radius: 0px !important;
        -webkit-border-radius: 0px;
        border-radius: 0px !important;
    }

    .table-primary.table-bordered tbody tr td.sorting_1 {
        border-right: 1px solid #48d8ff !important;
    }

.table-primary table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
    color: white;
}

.table-primary table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
    color: white;
}

.table-success thead tr th {
    background-color: #8CC152 !important;
    border-color: #98c865 #98c865 #7ab03f !important;
    color: #fff;
}

.table-success tbody tr td.sorting_1 {
    background: #acd283 !important;
    color: white;
    border-bottom: 1px solid #bedc9d !important;
}

.table-success tfoot tr th {
    background-color: #8CC152 !important;
    border-color: #7ab03f #98c865 #98c865 !important;
    color: #fff;
}

.table-success.table-bordered {
    border: 1px solid #8CC152;
}

    .table-success.table-bordered thead tr th:first-child, .table-success.table-bordered thead tr th:last-child, .table-success.table-bordered tfoot tr th:first-child, .table-success.table-bordered tfoot tr th:last-child {
        -moz-border-radius: 0px !important;
        -webkit-border-radius: 0px;
        border-radius: 0px !important;
    }

    .table-success.table-bordered tbody tr td.sorting_1 {
        border-right: 1px solid #bedc9d !important;
    }

.table-success table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
    color: white;
}

.table-success table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
    color: white;
}

.table-info thead tr th {
    background-color: #63D3E9 !important;
    border-color: #79d9ec #79d9ec #44cae5 !important;
    color: #fff;
}

.table-info tbody tr td.sorting_1 {
    background: #9de3f1 !important;
    color: white;
    border-bottom: 1px solid #bcecf6 !important;
}

.table-info tfoot tr th {
    background-color: #63D3E9 !important;
    border-color: #44cae5 #79d9ec #79d9ec !important;
    color: #fff;
}

.table-info.table-bordered {
    border: 1px solid #63D3E9;
}

    .table-info.table-bordered thead tr th:first-child, .table-info.table-bordered thead tr th:last-child, .table-info.table-bordered tfoot tr th:first-child, .table-info.table-bordered tfoot tr th:last-child {
        -moz-border-radius: 0px !important;
        -webkit-border-radius: 0px;
        border-radius: 0px !important;
    }

    .table-info.table-bordered tbody tr td.sorting_1 {
        border-right: 1px solid #bcecf6 !important;
    }

.table-info table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
    color: white;
}

.table-info table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
    color: white;
}

.table-warning thead tr th {
    background-color: #F6BB42 !important;
    border-color: #f7c45a #f7c45a #f4af20 !important;
    color: #fff;
}

.table-warning tbody tr td.sorting_1 {
    background: #f9d281 !important;
    color: white;
    border-bottom: 1px solid #fbdea3 !important;
}

.table-warning tfoot tr th {
    background-color: #F6BB42 !important;
    border-color: #f4af20 #f7c45a #f7c45a !important;
    color: #fff;
}

.table-warning.table-bordered {
    border: 1px solid #F6BB42;
}

    .table-warning.table-bordered thead tr th:first-child, .table-warning.table-bordered thead tr th:last-child, .table-warning.table-bordered tfoot tr th:first-child, .table-warning.table-bordered tfoot tr th:last-child {
        -moz-border-radius: 0px !important;
        -webkit-border-radius: 0px;
        border-radius: 0px !important;
    }

    .table-warning.table-bordered tbody tr td.sorting_1 {
        border-right: 1px solid #fbdea3 !important;
    }

.table-warning table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
    color: white;
}

.table-warning table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
    color: white;
}

.table-danger thead tr th {
    background-color: #E9573F !important;
    border-color: #ec6b56 #ec6b56 #e53b1f !important;
    color: #fff;
}

.table-danger tbody tr td.sorting_1 {
    background: #f08b7a !important;
    color: white;
    border-bottom: 1px solid #f3a79b !important;
}

.table-danger tfoot tr th {
    background-color: #E9573F !important;
    border-color: #e53b1f #ec6b56 #ec6b56 !important;
    color: #fff;
}

.table-danger.table-bordered {
    border: 1px solid #E9573F;
}

    .table-danger.table-bordered thead tr th:first-child, .table-danger.table-bordered thead tr th:last-child, .table-danger.table-bordered tfoot tr th:first-child, .table-danger.table-bordered tfoot tr th:last-child {
        -moz-border-radius: 0px !important;
        -webkit-border-radius: 0px;
        border-radius: 0px !important;
    }

    .table-danger.table-bordered tbody tr td.sorting_1 {
        border-right: 1px solid #f3a79b !important;
    }

.table-danger table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
    color: white;
}

.table-danger table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
    color: white;
}

.table-lilac thead tr th {
    background-color: black !important;
    color: #fff;
}

.table-lilac tbody tr td.sorting_1 {
    background: #ad86b0 !important;
    color: white;
    border-bottom: 1px solid #bc9cbe !important;
}

.table-lilac tfoot tr th {
    background-color: #906094 !important;
    border-color: #7b527e #9c6da0 #9c6da0 !important;
    color: #fff;
}

.table-lilac.table-bordered {
    border: 1px solid #906094;
}

    .table-lilac.table-bordered thead tr th:first-child, .table-lilac.table-bordered thead tr th:last-child, .table-lilac.table-bordered tfoot tr th:first-child, .table-lilac.table-bordered tfoot tr th:last-child {
        -moz-border-radius: 0px !important;
        -webkit-border-radius: 0px;
        border-radius: 0px !important;
    }

    .table-lilac.table-bordered tbody tr td.sorting_1 {
        border-right: 1px solid #bc9cbe !important;
    }

.table-lilac table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
    color: white;
}

.table-lilac table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
    color: white;
}

.table-inverse thead tr th {
    background-color: #2A2A2A !important;
    border-color: #373737 #373737 #181818 !important;
    color: #fff;
}

.table-inverse tbody tr td.sorting_1 {
    background: #4b4b4b !important;
    color: white;
    border-bottom: 1px solid #5d5d5d !important;
}

.table-inverse tfoot tr th {
    background-color: #2A2A2A !important;
    border-color: #181818 #373737 #373737 !important;
    color: #fff;
}

.table-inverse.table-bordered {
    border: 1px solid #2A2A2A;
}

    .table-inverse.table-bordered thead tr th:first-child, .table-inverse.table-bordered thead tr th:last-child, .table-inverse.table-bordered tfoot tr th:first-child, .table-inverse.table-bordered tfoot tr th:last-child {
        -moz-border-radius: 0px !important;
        -webkit-border-radius: 0px;
        border-radius: 0px !important;
    }

    .table-inverse.table-bordered tbody tr td.sorting_1 {
        border-right: 1px solid #5d5d5d !important;
    }

.table-inverse table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
    color: white;
}

.table-inverse table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
    color: white;
}

.table-teal thead tr th {
    background-color: #37BC9B !important;
    border-color: #44c8a8 #44c8a8 #2fa084 !important;
    color: #fff;
}

.table-teal tfoot tr th {
    background-color: #37BC9B !important;
    border-color: #2fa084 #31a88b #31a88b !important;
}

.table-responsive.rounded {
    overflow: auto !important;
}

.table-middle tr th, .table-middle tr td {
    vertical-align: middle !important;
}

.table-no-border tr td {
    border-top: none !important;
}
.card {
    margin: 5px;
    background: #fff;
    border-right: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(31,10,6,0.03),0 0.9375rem 1.40625rem rgba(31,10,6,0.03),0 0.25rem 0.53125rem rgba(31,10,6,0.05),0 0.125rem 0.1875rem rgba(31,10,6,0.03);
}
.popupcontent {
    margin: auto;
    margin-top: 50px;
    padding: 15px 30px 20px 30px;
    width: fit-content;
}
.pagination {
    margin: 15px 0 0 0 !important;
}
#large-button
{
    padding: 5px 10px !important;
}
.required::after {
    content: " * ";
    font-weight: bold;
    color: red;
}
hr {
    margin-top: 0 !important
}
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left !important;
    padding-left: 50px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}
.custom-label {
    width: fit-content !important;
    padding-left: 0 !important;
    margin: 0px 25px 5px 25px !important;
}
.custom-input {
    margin-left: 10px !important;
    width: 95% !important;
}
select {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}
    select.minimal {
        background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - 20px) calc(1em + 1px), calc(100% - 15px) calc(1em + 1px), calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
    }