@model IEnumerable<QuanLyCuaHangThoiTrang.Model.PhieuDatHang>

@{
    ViewBag.Title = "QUẢN LÝ PHIẾU ĐẶT HÀNG";
    ViewBag.SubTitle = "Quản lý chức năng <code>Thêm mới</code> <code>Chi tiết</code> <code> Chỉnh sửa</code> <code> Xóa</code> Phiếu Đặt Hàng.";
}
<title id="pageTitle">
    Quản Lý Phiếu Đặt Hàng
</title>
<div id="Modal" class="modal fade" role="dialog">
</div>
<div class="card">
    <div>
        <div class="pull-left">
            <p class="card-title-heading">Danh Sách Phiếu Đặt Hàng</p>
        </div>
        <div class="pull-right">
            <a href="@Url.Action("Create")" class="btn btn-sm btn-success btn-xs btn-push" style="padding: 5px 10px !important;">
                <i class="fas fa-plus"></i>
                <span style="margin: 15px 0 !important;">Thêm Phiếu Đặt Hàng</span>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    @if (TempData["AlertMessage"] != null)
    {
        <div id="AlertBox" class="alert @TempData["AlertType"] hide">
            @TempData["AlertMessage"]
        </div>
    }
    <hr />
    <div>
        @using (Ajax.BeginForm("DanhSachPhieuDatHang", "PhieuDathang", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "list", LoadingElementId = "loading", HttpMethod = "Get", OnComplete = "LoadDatatable" }))
        {
            <div class="input-group grid-container" style="grid-template-columns: 80% 20%">
                <div style="padding: 10px 30px">
                    @Html.TextBox("searchString", null, new { @class = "form-control", @placeholder = "Tìm kiếm theo tên người lập hoặc tên khách hàng" })
                </div>
                <div>
                    <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
        }
    </div>
    <div id="list">
        @{Html.RenderAction("DanhSachPhieuDatHang", "PhieuDatHang");}
    </div>
</div>
