<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Manager/Content/sidebar.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link href="~/Areas/Manager/Content/header.css" rel="stylesheet" />
    <link href="~/Areas/Manager/Content/Component.css" rel="stylesheet" />
</head>
<body>
    <div class="sidebar">
        <div id="menu-action">
            <a href="#"><i class="fa fa-bars" style="color: black;"></i><img src="~/images/vintage.png" width="150" height="50" style="margin: 0px;" /></a>
        </div>
        <div class="sidebar-content">
            <ul>
                <li><a onclick="Open('Home/Index')"><i class="fa fa-desktop"></i><span>Trang Chủ</span></a></li>
                <li><a onclick="Open('HangHoa/Index')"><i class="fas fa-boxes"></i><span>Quản Lý Hàng Hóa</span></a></li>
                <li><a onclick="Open('PhieuBanHang/Index')"><i class="fas fa-store"></i><span>Quản Lý Bán Hàng</span></a></li>
                <li><a onclick="Open('PhieuDatHang/Index')"><i class="fas fa-shopping-cart"></i><span>Quản Lý Đặt Hàng</span></a></li>
                <li><a onclick="Open('PhieuBaoHanh/Index')"><i class="fas fa-exchange-alt"></i><span>Quản Lý Bảo Hành</span></a></li>
                <li><a onclick="Open('BaoCaoBanHang/Index')"><i class="fas fa-dollar-sign"></i><span>Quản Lý Doanh Thu</span></a></li>
                <li><a onclick="Open('NhaCungCap/Index')"><i class="fas fa-parachute-box"></i><span>Quản Lý Nhà Cung Cấp</span></a></li>
                <li><a onclick="Open('PhieuNhapKho/Index')"><i class="fas fa-plus-square"></i><span>Quản Lý Nhập Kho</span></a></li>
                <li><a onclick="Open('PhieuXuatKho/Index')"><i class="fas fa-minus-square"></i><span>Quản Lý Xuất Kho</span></a></li>
                <li><a onclick="Open('PhieuKiemKho/Index')"><i class="fas fa-clipboard-check"></i><span>Quản Lý Kiểm Kho</span></a></li>
                <li><a onclick="Open('BaoCaoTonKho/Index')"><i class="fas fa-file-medical-alt"></i><span>Quản Lý Tồn Kho</span></a></li>
                <li><a onclick="Open('PhanQuyen/Index')"><i class="fas fa-user-lock"></i><span>Quản Lý Phân Quyền</span></a></li>
            </ul>
        </div>
        <div class="sidebar-footer">
            <a href="#"><i class="fa fa-user"></i></a>
            <a href="#"><i class="fa fa-cog"></i></a>
            <a href="#"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>
    <!-- Content -->
    <div class="main" id="cc">
        <div class="header" id="header">
            <div class="page-title-heading">
                @ViewBag.Title
                <div class="page-title-subheading">
                    @Html.Raw(@ViewBag.SubTitle)
                </div>
            </div>
        </div>
        <div id="content" style="margin-top: 25px">
            @RenderBody()
        </div>
        <div id="loading" style="display:none;margin-top:15%;vertical-align:middle; text-align:center;">
            <img src="~/images/giphy.gif" style="width: 100px; height:100px;margin:auto" />
        </div>
    </div>
    <!-- partial -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Areas/Manager/Scripts/sidebar.js"></script>
    <script src="~/Areas/Manager/Scripts/header.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</body>
</html>
