@model IEnumerable<QuanLyCuaHangThoiTrang.Model.PhieuXuatKho>

@{
    ViewBag.Title = "QUẢN LÝ XUẤT KHO";
    ViewBag.SubTitle = "Quản lý chức năng <code>Thêm mới</code> <code>Chi tiết</code> <code> Chỉnh sửa</code> <code> Xóa</code> Phiếu Xuất Kho.";
}
<title id="pageTitle">
    Quản Lý Nhập Kho
</title>
<div id="Modal" class="modal fade card" role="dialog">
</div>
<div class="card">
    <div>
        <div class="pull-left">
            <p class="card-title-heading">Danh sách Phiếu xuất kho</p>
        </div>
        <div class="pull-right">
            <a href="@Url.Action("Create")" class="btn btn-sm btn-success btn-xs btn-push" style="padding: 5px 10px !important;" >
                <i class="fas fa-plus"></i>
                <span style="margin: 15px 0 !important;">Thêm Phiếu Xuất Kho</span>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <hr />
    <div>
        @using (Ajax.BeginForm("DanhSachPhieuXuatKho", "PhieuXuatKho", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "list", LoadingElementId = "loading", HttpMethod = "Get", OnComplete = "LoadDatatable" }))
        {
            <div class="form-group">
                <div class="input-group">
                    @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Tìm kiểm theo tên nhà cung cấp, số điện thoại, địa chỉ hoặc email" })
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>
        }
        <div id="list">
            @{Html.RenderAction("DanhSachPhieuXuatKho", "PhieuXuatKho");}
        </div>
    </div>
</div>
