@model IEnumerable<QuanLyCuaHangThoiTrang.Model.PhieuChi>

@{
    ViewBag.Title = "Index";
}


<title id="pageTitle">
    Quản Lý Phiếu Chi
</title>
<div class="card">
    @if (TempData["AlertMessage"] != null)
    {
        <div id="AlertBox" class="alert @TempData["AlertType"] hide">
            @TempData["AlertMessage"]
        </div>
    }
    <div>
        <div class="pull-left">
            <p class="card-title-heading">Danh sách phiếu chi</p>

        </div>
        <div class="pull-right">
            <button class="btn btn-sm btn-success btn-xs btn-push" id="large-button" onclick="Open('PhieuChi/Create', false)">
                <i class="fas fa-plus"></i>
                <span style="margin: 15px 0 !important;">Thêm phiếu chi</span>

            </button>

        </div>
        <div class="clearfix"></div>

    </div>
    <div>
        @using (Ajax.BeginForm("DanhSachPhieuChi", "PhieuChi", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "list", LoadingElementId = "loading", HttpMethod = "Get" }))
        {
            <div class="form-group">
                <div class="input-group">
                    @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Tìm kiểm theo ..." })
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>
        }
        <div id="list">
            @{Html.RenderAction("DanhSachPhieuChi", "PhieuChi");}
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#AlertBox').removeClass('hide');
        $('#AlertBox').delay(4000).slideUp(1000);
    });
</script>
