@model IEnumerable<QuanLyCuaHangThoiTrang.Model.NhaCungCap>

@{
    ViewBag.Title = "QUẢN LÝ NHÀ CUNG CẤP";
    ViewBag.SubTitle = "Quản lý chức năng <code>Thêm mới</code> <code>Chi tiết</code> <code> Chỉnh sửa</code> <code> Xóa</code> Nhà Cung Cấp.";
}
<title id="pageTitle">
    Quản Lý Nhà Cung Cấp
</title>
<div id="Modal" class="modal fade" role="dialog">
</div>
<div class="card">
    <div>
        <div class="pull-left">
            <p class="card-title-heading">Danh sách nhà cung cấp</p>
        </div>
        <div class="pull-right">
            <button class="btn btn-sm btn-success btn-xs btn-push" id="large-button" onclick="Open('NhaCungCap/Create')">
                <i class="fas fa-plus"></i>
                <span style="margin: 15px 0 !important;">Thêm Nhà Cung Cấp</span>
            </button>
        </div>
        <div class="clearfix"></div>
    </div>
    @if (TempData["AlertMessage"] != null)
    {
        <div id="AlertBox" class="alert @TempData["AlertType"] hide">
            @TempData["AlertMessage"]
        </div>
    }
    <hr />
    <div>
        @using (Ajax.BeginForm("DanhSachNhaCungCap", "NhaCungCap", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "list", LoadingElementId = "loading", HttpMethod = "Get", OnComplete = "LoadDatatable" }))
        {
            <div class="form-group">
                <div class="input-group">
                    @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Tìm kiểm theo tên nhà cung cấp, số điện thoại, địa chỉ hoặc email" })
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>
        }
        <div id="list">
            @{Html.RenderAction("DanhSachNhaCungCap", "NhaCungCap");}
        </div>
    </div>
</div>
