@model IEnumerable<QuanLyCuaHangThoiTrang.Model.NhaCungCap>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="card">
    <div class="card-body">
        <div class="header">
            <h4 class="page-title-heading" style="font-size: 26px">Danh Sách Nhà Cung Cấp</h4>
            <p class="page-title-subheading" style="font-size: 18px">
                Quản lý chức năng <code>Chi tiết</code> <code> Chỉnh sửa</code> <code> Xóa</code> Nhà Cung Cấp.
            </p>
        </div>
        <div id="list">
            @{Html.RenderAction("DanhSachNhaCungCap", "NhaCungCap");}
        </div>
    </div>
</div>