* {
    box-sizing: border-box;
  }

.shopping-cart {
    position: fixed;
    width: 750px;
    margin: 80px auto;
    background: #fafafa;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    left: 30%;
    top: 0%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    opacity: 0.98;
    border-radius: 5px;
}

.cart_title {
    text-align: center;
    height: 60px;
    border-bottom: 5px solid #E1E8EE;
    padding: 10px 5px;
    color: #fc636b;
    font-size: 24px;
    font-weight: bold;
}

.cart_item {
    margin: 20px 30px;
    height: 80px;
    display: flex;
    background: #fff;
    border-radius: 6px;
    border: 1px;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
}
  .cart_item:hover{
      background: #f5f5f5;
  }
   
  .cart_item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
  }

.cart_buttons {
    position: relative;
    margin-right: 5%;
    margin-top: 25px;
    margin-left:2%;
}

.cart_close-btn {
    display: inline;
    Cursor: pointer;
    width: 18px;
    height: 17px;
    margin-right: 5px;
    margin-top: -10px;
    float: right !important;
}

  .cart_delete-btn1 {
    display: inline-block;
    Cursor: pointer;
  }

  .shopping-cart input[type=submit]{
    background-color: white;
  border: #5E6977;
  color: #2fdab8;
  text-decoration: none;
  cursor: pointer;
}

  i {
    font-family:'FontAwesome';
  }
   
  .cart_is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }

  .cart_image {
    margin-right: 50px;  
  }

  .cart_image img {
     width: 120px;
     height: 90px;
  }

.cart_description {
    padding: 5px;
    margin-right: 60px;
    width: 25%;
}
   
  .cart_description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }
   
  .cart_description span:first-child {
    margin-bottom: 5px;
  }
  .cart_description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }

.cart_quantity {
    padding-top: 25px;
    margin-right: 60px;
}
  
  .cart_quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
   
  button[class*=btn] {
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .cart_minus-btn img {
    margin-bottom: 3px;
  }
  .cart_plus-btn img {
    margin-top: 2px;
  }
   
  button:focus,
  input:focus {
    outline:0;
  }

  .cart_total-price {
    width: 15%;
    padding-top: 25px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }

.cart_submit {
    background: #fc636b !important;
    height: 40px;
    width: 150px;
    margin: 10px 20px 10px 500px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: black !important;
    border-color: aliceblue;
    letter-spacing: 1px;
}
  .cart_submit:before {
		border: #2fdab8 solid 2px;
	}
	.cart_submit:hover:before, .cart_submit:focus:before, .cart_submit:active:before {
		top: -6px;
		right: -6px;
		bottom: -6px;
		left: -6px;
  }
  
  .order-price{
    display: flex;
    float: right;
    margin-right: 15%;
  }

  .order-price b{
    margin-right: 10px;
  }
  .order-price span{
    float: right;
  }
  
  /* hidden submit popup: */
  .order-submit-popup{
    background: #fafafa;
    position: fixed;
    width: 820px;
    left: 28%;
    top: 5%;
    z-index: 1;
  }

    .order-submit-popup h2 {
        margin-top: 15px;
        margin-left: 55px;
        color: #fc636b;
        font-weight:bold;
        font-size: 24px;
        text-align: center;
    }

  .order-submit-popup input{
    height: 35px;
    border: black;
    margin-bottom: 15px;
    float: right;
    margin-right: 30px;
  }

  .order-container{
    display: flex;
  }
.order-input span {
    height: 35px;
    color: #fc636b;
    font-weight: bold;
}
.order-input{
    width: fit-content;
}
  .order_close-btn{
    Cursor: pointer;
    margin-left: 480px;
  }

.required::after {
    content: " * ";
    font-weight: bold;
    color: red;
}